language: rust

cache: cargo

rust:
  - stable
  - beta

matrix:
  allow_failures:
    - rust: nightly
  include:
    - rust: nightly
      env: CLIPPY=true

script:
  - bash -c 'if [ -n $CLIPPY ]; then
                 cargo test --features="clippy";
             else
                 cargo test;
             fi'

os:
  - linux
  - osx
