*.rej
*.orig
*~
/*.patch

*.o
*.o[ls]

/src/liburing.a
/src/liburing.so*

/examples/io_uring-cp
/examples/io_uring-test
/examples/link-cp
/examples/ucontext-cp

/test/35fa71a030ca-test
/test/500f9fbadef8-test
/test/917257daa0fe-test
/test/a4c0b3decb33-test
/test/b19062a56726-test
/test/cq-full
/test/cq-ready
/test/cq-peek-batch
/test/eeed8b54e0df-test
/test/fsync
/test/io_uring_enter
/test/io_uring_register
/test/io_uring_setup
/test/link
/test/nop
/test/poll
/test/poll-cancel
/test/ring-leak
/test/send_recvmsg
/test/sq-full
/test/sq-space_left
/test/stdout
/test/timeout

config-host.h
config-host.mak
config.log

liburing.pc
